*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("../assets/background-mar.webp");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

@mixin btn($bgColor, $color){
  margin-top: 14px;
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: $bgColor;
  color: $color;
  font-weight: bold;
  box-shadow: 0px 0px 10px #0000007e;
  cursor: pointer;
}

.c-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  .c-header__logo{
    width: 200px;
  }
}


.c-main{
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;

  .c-main__card{
    background-color: #d9d9d994;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000056;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 355px;

    .c-main__div{

      .c-main__form{
        form{
          display: flex;
          flex-direction: column;
          text-align: start;

          .c-main__form--area{
            display: flex;
            flex-direction: column;
            margin: 3px 0;

            label{
              font-weight: bold;
              color: #303030;
            }

            input, textarea{
              border: none;
              border-radius: 5px;
              padding: 5px;
              font-size: 1rem;
            }
          }

          .checkbox{
            display: flex;
            flex-direction: row;
            gap: 5px;

            .switch{
              appearance: none;
              width: 50px;
              height: 25px;
              background-color: #838383;
              border-radius: 5px;
              position: relative;
              cursor: pointer;
              transition: .3s;
            
              &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: #d5d5d5;
                border-radius: 5px;
                left: 5px;
                top: 5px;
                transition: .3s;
              }
            
              &::after{
                content: "OFF";
                position: absolute;
                color: #000;
                left: 55px;
                top: 3px;
              }
            
              &:checked{
                background-color: rgb(3, 179, 3);
              }
            
              &:checked:before{
                left: 30px;
              }
            
              &:checked::after{
                content: "ON";
              }
            }  
          }

          button{
            @include btn(#05A014, #fff)
          }
          
        }
      }

      .c-main__result{
        margin-top: 1.5rem;

        .c-main__day{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: .5rem;
        }

        .c-main__infos{
          display: flex;
          flex-direction: column;
          gap: 3px;
          text-align: start;
          font-weight: bold;
          color: #303030;
        }

      }

      input[type="button"]{
        @include btn(#DDCA04, #000)
      }
    }
  }

  .c-main__modal{
    background-color: #00000063;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    
    .c-main__confirm{
      background-color: #fff;
      min-height: 100px;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .c-main__confirm--alert{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex: 1 1 0;
      }

      .c-main__confirm--btns{
        display: grid;
        grid-template-columns: 1fr 1fr;

        input{
          border: none;
          min-width: 150px;
          height: 35px;
          font-weight: bold;
          cursor: pointer;

          &:hover{
            background-color: #838383;
            color: #fff;
          }

          &:nth-child(1){
            background-color: #05A014;
            color: #fff;

            &:hover{
              background-color: #06640f;
            }
          }
        }

      }
    }
  }
}

@media (min-width: 768px) {
  .c-main{
    .c-main__card{
      max-width: 650px;
      min-width: 500px;

      .c-main__div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;

        .c-main__result{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0;
        }
      }
    }
  }
}